body {
	-webkit-text-size-adjust: 100%;
	overflow: auto;
	color: #657b83;
	background-color: #fdf6e3;
	margin: 0;
	font-family: Helvetica, Verdana, Arial, 'Liberation Sans', FreeSans, sans-serif;
}

code {
	padding: .08em .2em;
	background-color: #eee8d5;
}

pre {
	background-color: #eee8d5;
	padding: .6em;
	overflow: auto;
}

pre code {
	padding: 0;
}

a, a:visited {
	color: #859900;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

p {
	max-width: 50em;
}

.nocss {
	display: none;
}

#menuctl {
	display: none;
}

.header {
	background-color: #eee8d5;
	width: 100%;
}

#htable {
	display: table;
	height: 3em;
}

#htable .title {
	display: table-cell;
	vertical-align: middle;
	padding-left: .6em;
}

#htable .title a {
	color: inherit;
	text-decoration: none;
	font-weight: normal;
}

#menubutton {
	display: none;
}

#ccontainer {
	left: 0;
	top: 0;
	overflow-x: hidden;
	position: static;
}

#content {
	margin: 1.5em; /* cmargin */
	margin-left: 13em; /* menusize */
	max-width: 54em;
}

li ul {
	padding-left: 0.6em !important;
}

#sidebar.menu {
	width: 12em; /* menusize */
	height: auto;
	float: left;
	bottom: 0;
}

#sidebar.menu #mcontainer {
	width: 100%;
	padding-top: .2em;
}

#sidebar.menu #mcontainer #home {
	font-size: 110%;
	font-weight: bold;
	padding: .4em .5em;
	margin-bottom: .2em;
}

#sidebar.menu #mcontainer #sitemap {
	margin-top: 1.3em;
}

.menu ul {
	list-style-type: none;
	list-style-position: outside;
	margin: 0;
	padding: 0 0 0.3em 0;
}

.menu li {
	margin: 0;
	padding: 0.1ex 0;
}

.menu a {
	display: block;
	padding: .25em .5em .25em .5em;
	border-left: transparent solid .2em;
}

.menu a:hover {
	border-left: #586e75 solid .2em;
}

/*** DESKTOP ***/

#ccontainer {
	float: left;
}

.content {
	margin-left: 13em; /* menusize */
}

#sidebar.menu {
	margin-left: -100%;
}

#sidebar.menu #mcontainer #home {
	display: none;
}

/*** MOBILE ***/

@media (max-width: 60em) {

#menuctl:checked ~ .whole {
	position: relative;
	min-height: 100%;
	overflow: hidden;
	height: auto;
}

#menuctl:checked ~ .whole #center {
	left: 0;
	transform: translate(12em,0); /* menusize */
	/* overflow: hidden; * Done in js */
	height: 100%;
}

.whole {
	z-index: 0;
	height: 100%;
	overflow: hidden;
}

.whole > * {
	z-index: 2;
}

#center {
	background-color: #fdf6e3;
	height: 100%;
	width: 100%;
	overflow: auto;
	position: absolute;
	transition: transform 0.25s; /* transtime */
}

#menuimg {
	display: block;
	box-sizing: border-box;
	width: 1.3em;	/* This is just eyeballed. */
	height: 1em;
	background: url(/static/img/menu.svg) no-repeat;
	background-size: contain;
	background-position: center;
}

#menubutton {
	display: table-cell;
	vertical-align: middle;
	padding-left: .8em;
	padding-right: .8em;
}

#htable .title {
	padding-left: .1em;
}

#sidebar.menu {
	position: relative;
	z-index: 1 !important;
	height: 100%;
}

#sidebar.menu #mcontainer {
	padding-bottom: 2.5em; /* sbfadeh */
	height: 100%;
	overflow: auto;
	box-sizing: border-box;
	background-color: #eee8d5;
	scrollbar-width: none;
}

#sidebar.menu #mcontainer::-webkit-scrollbar {
	display: none;
}

#sidebar.menu #mcontainer #home {
	display: block;
}

#sidebar.menu #sbfade {
	position: absolute;
	width: 100%;
	height: 4em; /* sbfadeh */
	bottom: 0;
	pointer-events: none;
	background: -moz-linear-gradient(top, rgba(253,246,227,0) 0%, rgba(253,246,227,1) 100%);
	background: -webkit-linear-gradient(top, rgba(253,246,227,0) 0%,rgba(253,246,227,1) 100%);
	background: linear-gradient(to bottom, rgba(253,246,227,0) 0%,rgba(253,246,227,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00fdf6e3', endColorstr='#fffdf6e3',GradientType=0 );
}

#menuctl:checked ~ .whole .shade {
	opacity: 0.5;
	height: 100%;
	transition: height 0s 0s, opacity 0.25s 0s; /* transtime */
}

.shade {
	opacity: 0;
	height: 0;
	transition: height 0s 0.25s, opacity 0.25s 0s; /* transtime */
	z-index: 1;
	background-color: black;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#menuctl:checked ~ .whole .clickhole {
	z-index: 2;
	height: 0;
	transition: z-index 0s 0s, height 0s 0.25s; /* transtime */
}

.clickhole {
	opacity: 0;
	z-index: -1;
	height: 100%;
	transition: z-index 0s 0.25s, height 0s 0s; /* transtime */
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

/* Null out desktop properties */

#ccontainer {
	float: initial;
	width: initial;
}

#content {
	margin: 1.5em; /* cmargin */
}

#sidebar.menu {
	margin-left: initial;
}

}
