body {
	-webkit-text-size-adjust: 100%;
	color: #657b83;
	background-color: #fdf6e3;
	margin: 0;
	font-family: Helvetica, Verdana, Arial, 'Liberation Sans', FreeSans, sans-serif;
}

code {
	font: 10pt courier, 'courier new', monospace;
	padding: .08em .2em;
	background-color: #eee8d5;
}

pre {
	tab-size: 4;
	font: 10pt courier, 'courier new', monospace;
	background-color: #eee8d5;
	padding: .6em;
	overflow: auto;
}

pre code {
	padding: 0;
}

a, a:visited {
	color: #859900;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

p {
	max-width: 50em;
}

.nocss {
	display: none;
}

#menuctl {
	display: none;
}

#header {
	background-color: #eee8d5;
	width: 100%;
	display: table;
	height: 3em;
}

#header .title {
	display: table-cell;
	vertical-align: middle;
	padding-left: .6em;
}

#header .title a {
	color: inherit;
	text-decoration: none;
	font-weight: normal;
}

#menubutton {
	display: none;
}

.ccontainer {
	left: 0;
	top: 0;
	max-width: 100%;
	overflow-x: hidden;
	position: static;
}

.content {
	margin: 1.5em; /* cmargin */
	max-width: 54em;
}

li ul {
	padding-left: 0.6em !important;
}

.menu.sidebar {
	padding-top: .2em;
	float: left;
	bottom: 0;
}

.menu.sidebar #home {
	font-size: 110%;
	font-weight: bold;
	padding: .4em .5em;
	margin-bottom: .2em;
}

.menu.sidebar #sitemap {
	margin-top: 1.3em;
}

.menu ul {
	list-style-type: none;
	list-style-position: outside;
	margin: 0;
	padding: 0 0 0.3em 0;
}

.menu li {
	margin: 0;
	padding: 0.1ex 0;
}

.menu a {
	display: block;
	padding: .25em .5em .25em .5em;
	border-left: transparent solid .2em;
}

.menu a:hover {
	border-left: #586e75 solid .2em;
}

/*** DESKTOP ***/

.ccontainer {
	float: left;
	width: 100%;
}

.content {
	margin-left: 13em; /* menusize */
}

.menu.sidebar {
	width: 12em; /* menusize */
	margin-left: -100%;
	position: relative;
}

.menu.sidebar #home {
	display: none;
}

/*** MOBILE ***/

@media (max-width: 55em) {

#menuctl:checked ~ .whole {
	position: relative;
	overflow: hidden;
	min-height: 100%;
	height: auto;
}

#menuctl:checked ~ .whole .center {
	left: 0;
	transform: translate(12em,0); /* menusize */
	overflow: hidden;
	height: 100%;
}

.center {
	background-color: #fdf6e3;
	width: 100%;
	min-height: 100%;
	transition: transform 0.25s;
}

#menuimg {
	display: block;
	box-sizing: border-box;
	width: 1.3em;	/* This is just eyeballed. */
	height: 1em;
	background: url(/static/img/menu.svg) no-repeat;
	background-size: contain;
	background-position: center;
}

#menubutton {
	display: table-cell;
	vertical-align: middle;
	padding-left: .8em;
	padding-right: .8em;
}

#header .title {
	padding-left: .1em;
}

.menu.sidebar {
	padding-bottom: .5em;
	min-height: 100%;
	position: static;
	box-sizing: border-box;
	background-color: #eee8d5;
	z-index: 0;
	left: 0;
	top: 0;
}

.menu.sidebar #home {
	display: block;
}

#menuctl:checked ~ .whole .shade {
	opacity: 0.5;
	height: 100%;
	transition: height 0s 0s, opacity 0.25s 0s;
}

.shade {
	opacity: 0;
	height: 0;
	transition: height 0s 0.25s, opacity 0.25s 0s;
	z-index: 1;
	background-color: black;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#menuctl:checked ~ .whole .clickhole {
	z-index: 2;
	height: 0;
	transition: z-index 0s 0s, height 0s 0.25s;
}

.clickhole {
	opacity: 0;
	z-index: -1;
	height: 100%;
	transition: z-index 0s 0.25s, height 0s 0s;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

/* Null out desktop properties */

.ccontainer {
	float: initial;
	width: initial;
}

.content {
	margin: 1.1em; /* cmargin */
}

.menu.sidebar {
	margin-left: initial;
}

}
